<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    style="max-width:600px; max-height:700px; width: auto; height: auto;" src={{knjiga.slikaUrl}}
                    alt={{knjiga.naziv}} /></div>
            <div class="col-md-6">
                <h5 class=" mb-1 ">Kategorija: {{knjiga.kategorija.kategorijaNaziv}}</h5>
                <h1 class="display-5 fw-bolder">{{knjiga.naziv}}</h1>
                <h5 class="fw-bolder text-muted">Autor: {{knjiga.autor}}</h5>
                <div class="fs-5 mb-5">
                    <span class="display-6 text-danger">{{knjiga.cena}} RSD</span>
                    <h5 class=" mb-1 mt-2 text-success" *ngIf="knjiga.stanje!=0" >Na stanju</h5>
                    <h5 class=" mb-1 mt-2 text-warning" *ngIf="knjiga.stanje==0">Van stanja</h5>
                </div>
                
                
                <p class="lead">{{knjiga.opis}}</p>
                <h5 class=" mb-1 mt-2 text-muted">Pismo: {{knjiga.pismo.pismo}}</h5>
                <h5 class=" mb-1 text-muted ">Povez: {{knjiga.povez.vrsta}}</h5>
                <h5 class=" mb-4 text-muted">Broj strana: {{knjiga.brojStrana}}</h5>

                <div class="d-flex">
                    <button class="btn btn-outline-danger flex-shrink-0" type="button" [disabled]="knjiga.stanje==0" (click)="dodajUKorpu()">
                        <i class="bi-cart-fill me-1"></i>
                        Dodaj u korpu
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4" >Slične knjige <a class="btn btn-outline-danger mt-auto mb-1" (click) = "getSlicneKnjige()">{{prikaziSakrij}}</a></h2> 
        <div *ngIf="slicneKnjige"class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let knjiga of listaKnjiga" class="col mb-5">
                <app-knjiga-mala [knjiga]="knjiga"></app-knjiga-mala>>
            </div>
        </div>
    </div>

</section>