
<h1 *ngIf = "(brojKnjigaUKorpi$ | async) ==0"  class="text-danger text-center" style=" margin-top: 20%; margin-bottom: 20%;">Greška! Korpa je prazna!</h1>

<div *ngIf = "(brojKnjigaUKorpi$ | async) !=0">
<section class="h-100 mt-5" >
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Korpa</h3>
            <h3 class="fw-normal mb-0 text-danger">Ukupna cena {{ukupnaCena$ | async}} RSD </h3>
            <div>
                <button class="btn btn-outline-warning"  type="submit" (click)="ocistiKorpu()">
                    <i class="bi bi-trash me-1"></i>
                    Očisti korpu
                </button>
            </div>
          </div>


          <span *ngFor="let grupaKnjiga of (korpaUnosi$ | async)">
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src={{grupaKnjiga.knjiga.slikaUrl}} class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 plusMinus">
                      <p class="lead fw-normal mb-2">{{grupaKnjiga.knjiga.naziv}}</p>
                      <p><span class="text-muted">Broj primeraka: {{grupaKnjiga.broj}} </span></p>
                     <i class="bi bi-plus-lg" (click)="povecajPrimerke(grupaKnjiga)"></i>
                     <i class="bi bi-dash-lg ml-3" (click)="smanjiPrimerke(grupaKnjiga)"></i>
                    <!--<p> <small *ngIf="nedovoljnoStanje" class="text-danger text-center">Već ste dodali sve primerke koji su na stanju!</small></p>-->
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h5 class="mb-0">{{grupaKnjiga.knjiga.cena * grupaKnjiga.broj}} RSD</h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </span>
          
          <div class="card">
            <div class="card-body">
              <button *ngIf="daLiJeUlogovan()" type="button" class="btn btn-danger btn-block btn-lg" [routerLink]="['/porucivanje']">Završi naručivanje</button>
              <h5 *ngIf="!daLiJeUlogovan()" class="text-danger text-center"  >Morate se ulogovati kako bi kompletirali poručivanje!</h5>
              
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
