
<div class="container mt-5">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">
            <form [formGroup]="forma">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control"
                        placeholder="Unesite kriterijum pretrage"
                        [formControl]="$any(forma.controls['kriterijum'])">
                    <button class="btn btn-danger" (click)="pretrazi()"
                        [disabled]="!forma.valid">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="h-100 mt-5">
    <div class="container h-100 py-5">


        <div class="row">
            <div *ngFor="let porudzbina of listaPorudzbina" class="col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">

                                <div class="ms-3">
                                    <p class="fw-bold mb-1">Naručilac: {{porudzbina.ime}} {{porudzbina.prezime}}</p>
                                    <p class="text-muted mb-0">Datum naručivanja: {{porudzbina.datumKreiranja}}</p>
                                </div>
                            </div>
                            <span *ngIf="porudzbina.status.status=='Kreirana'"
                                class="badge rounded-pill badge-success">Kreirana</span>
                            <span *ngIf="porudzbina.status.status=='Isporuka'" class="badge rounded-pill badge-warning">U
                                isporuci</span>
                            <span *ngIf="porudzbina.status.status=='Završena'"
                                class="badge rounded-pill badge-primary">Završena</span>
                            <span *ngIf="porudzbina.status.status=='Otkazana'"
                                class="badge rounded-pill badge-danger">Otkazana</span>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                        <a class="btn btn-link m-0 text-reset" role="button" data-ripple-color="primary"
                        [routerLink]="['/adminPorudzbine', porudzbina.id]" >Detaljnije<i
                                class="bi bi-book ms-2"></i></a>
                        <a *ngIf="porudzbina.status.status!='Otkazana'" class="btn btn-link m-0 text-reset" role="button"
                            data-ripple-color="primary" type="button" data-toggle="modal" data-target="#promenaStatusa"
                            (click)="popuniStatusForma(porudzbina)">Promeni status<i
                                class="bi bi-bookmarks ms-2"></i></a>
                        <a *ngIf="porudzbina.status.status=='Otkazana'" class="btn btn-link m-0 text-reset" role="button"
                            data-ripple-color="primary">Otkazane porudžbine ne mogu da menjaju status</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="promenaStatusa" tabindex="-1" role="dialog" aria-labelledby="promenaStatusa"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="cancelStatus" class="close d-flex align-items-center justify-content-center"
                    data-dismiss="modal" aria-label="Close">X
                    <span aria-hidden="true" class="ion-ios-close"></span>
                </button>
            </div>
            <div class="modal-body p-4 p-md-5">
                <h3 class="text-center mb-4 text-primary">Promena statusa narudžbine</h3>
                <form [formGroup]="promenaStatusaForma" class="login-form">
                    <div class="form-group">
                        <select class="form-control rounded-left"
                            [formControl]="$any(promenaStatusaForma.controls['status'])">
                            <option id="Kreirana" value="Kreirana">Kreirana</option>
                            <option id="Isporuka" value="Isporuka">Isporuka</option>
                            <option id="Završena" value="Završena">Završena</option>
                            <option id="Otkazana" value="Otkazana">Otkazana</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded px-3"
                            [disabled]="!promenaStatusaForma.valid" (click)="promeniStatus()">Promeni status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>